<!DOCTYPE html>
{% extends "base2.html" %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block content %}
        <h1>doctors page</h1>
{% for d in doctors %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{d.doc_image.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Children speciliste</h5>
              <p class="card-text">good doctor.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          {% endfor %}
            {% endblock %}
        <script src="" async defer></script>
    </body>
</html>